<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd   
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-4.2.xsd
           http://www.springframework.org/schema/mvc   
           http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           http://www.springframework.org/schema/aop
   		   http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

<!-- 	<mvc:resources location="/css/" mapping="/" /> -->
<!-- 	<mvc:resources location="/images/" mapping="/" /> -->
<!-- 	<mvc:resources location="/js/" mapping="/" /> -->
<!-- 	<mvc:resources location="/plugins/" mapping="/" /> -->
	<!-- 返回数据json配置 start -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- @ResponseBody 不返回空对象及变量 -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
						<property name="serializationInclusion">
							<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


	<!-- 返回数据json配置 end -->

	<!-- 配置拦截器 start -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- /**的意思是所有文件夹及里面的子文件夹 /*是所有文件夹，不含子文件夹 /是web项目的根目录 -->
			<mvc:mapping path="/*" />
			<bean class="com.ujia.virgo.interceptor.CrossInterceptor">

			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 配置拦截器 end -->

	<!-- 扫描激活所有注解 -->
	<context:component-scan base-package="com.ujia" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>


</beans>