<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ujia.dao.WxScanMapper" >
  <resultMap id="BaseResultMap" type="com.ujia.model.WxScan" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="scan_id" property="scanId" jdbcType="VARCHAR" />
    <result column="scan_time" property="scanTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, scan_id, scan_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ujia_wx_scan
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ujia_wx_scan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ujia.model.WxScan" >
    insert into ujia_wx_scan (id, openid, scan_id, 
      scan_time)
    values (#{id,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{scanId,jdbcType=VARCHAR}, 
      #{scanTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ujia.model.WxScan" >
    insert into ujia_wx_scan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="scanId != null" >
        scan_id,
      </if>
      <if test="scanTime != null" >
        scan_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="scanId != null" >
        #{scanId,jdbcType=VARCHAR},
      </if>
      <if test="scanTime != null" >
        #{scanTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ujia.model.WxScan" >
    update ujia_wx_scan
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="scanId != null" >
        scan_id = #{scanId,jdbcType=VARCHAR},
      </if>
      <if test="scanTime != null" >
        scan_time = #{scanTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ujia.model.WxScan" >
    update ujia_wx_scan
    set openid = #{openid,jdbcType=VARCHAR},
      scan_id = #{scanId,jdbcType=VARCHAR},
      scan_time = #{scanTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>